@media (max-width: 1024px) {

    /* 커스텀 */
    .con {
       width:100%;
   }

   .con-min-width {
       min-width:770px;
   }

   .con-max-width {
       max-width:1024px;
   }

   /* top-bar */
   .con > .top-bar > .menu-bar {
       display: block;
   }

   .con > .top-bar > .menu-bar > ul > li > a {
       font-size:0.8rem;
   }

   .con > .top-bar > .menu-bar > ul {
       width:100%;
   }

   
   body {
       padding-top: 93.25px;
   }


/* 컬렉션 설명 */

.con > .bg_image {
    display: block;
    width:100%;
    height: 100vh;
}

.con > .bg_image > img{
    width:100%;
}

.con > .bg_image > h1 {
    top:25%;
}

.con > .bg_image > .bg_text {
    top:45%;
    width:90%;
    font-size: 0.9rem;
}

/* swiper */
.swiper-container {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: transparent;
  }

  .swiper-pagination > .swiper-pagination-bullet {
      opacity: 0.6;
      background-color: white;
  }

.swiper-pagination > .swiper-pagination-bullet-active {
      background-color:white;
      opacity: 1;
  }

  .swiper-button-next {
    right: 5%;
  }

  .swiper-button-prev {
    left: 5%;
  }

  .swiper-button-next::after, .swiper-button-prev::after {
    color:black;
    background-color: white;
    opacity:0.4;
    font-weight: bolder;
  }


   /*footer*/
   footer {
       background-color: black;
       color:white;
       padding:20px;
       position: relative;
       bottom:0;
       margin-top: 200px;
   }

   footer > .information ul > li {
       font-size: 0.7rem;
       margin:2px 6px;
   }

   footer > .information ul > li:not(:last-child)::after {
       content: "｜";
       position: absolute;
       opacity: 0.5;
   }


   footer > .sns {
       position: absolute;
       right:-3%;
       top:60%;
       transform: translateX(-50%) translateY(-50%);
   }


   footer > .sns > ul > .sns_icon {
       padding:5px;
   }

}


@media (max-width: 769px) {

   /* 커스텀 */
   .con {
       width:100%;
   }

   .con-min-width {
       min-width:576px;
   }

   .con-max-width {
       max-width:769px;
   }

   /* top-bar */
   .con > .top-bar > .menu-bar > ul > li > a {
       font-size:0.8rem;
   }

   .con > .top-bar > .menu-bar > ul {
       width:100%;
   }

    /* 컬렉션 설명 */

    .con > .bg_image > h1 {
        top:20%;
    }

    .con > .bg_image > .bg_text {
        top:35%;
        width:90%;
        font-size: 0.9rem;
    }

   /*footer*/
   footer {
       background-color: black;
       color:white;
       padding:20px;
       display: block;
       position: relative;

   }

   footer > .information ul > li {
       font-size: 0.7rem;
       margin:2px 6px;
   }

   footer > .information ul > li:not(:last-child)::after {
       content: "｜";
       position: absolute;
       opacity: 0.5;
   }


   footer > .sns {
       position: absolute;
       right:-3%;
       top:60%;
       transform: translateX(-50%) translateY(-50%);
   }


   footer > .sns > ul > .sns_icon {
       padding:5px;
   }

}

@media (max-width: 575px) {
  
   /*커스텀*/
   .con {
       width:100%;
   }
   
   .con-min-width {
       min-width:320px;
   }
   
   .con-max-width {
       max-width:575px;
   }
   
   .con > .top-bar > .menu-bar {
       display: none;
   }


   /* 햄버거버튼 */
   .con > .top-bar > .logo-box > .menu-trigger {
       display: block;
       left:3%;
       top:50%;
       transform: translateY(-50%);
       position: absolute;
       width: 20px;
       height: 16px;
       margin:0;
   }

   .menu-trigger span {
       position: absolute;
       left: 0;
       width: 100%;
       height: 2px;
       background-color: #fff;
       border-radius: 4px;
   }
   
   .menu-trigger span:nth-of-type(2) {
       top: 50%;
       transform: translateY(-50%);
   }
   
   .menu-trigger.active span:nth-of-type(1),
   .menu-trigger.active span:nth-of-type(3) {
       width : 11px;
   }
   .menu-trigger.active span:nth-of-type(1) {
       -webkit-transform : translate(-2px, 3px) rotate(-45deg);
       transform : translate(-2px, 3px) rotate(-45deg);
   }
   .menu-trigger.active span:nth-of-type(3) {
       -webkit-transform : translate(-2px, -3px) rotate(45deg);
       transform : translate(-2px, -3px) rotate(45deg);
   }
   
   /* 메뉴바 */
   .con > .top-bar > .menu-bar > ul > li > a {
       font-size:0.88rem;
       color:white;
       padding:9px;
       display:block;
       user-select:none;
       text-align:center;
   }
   
   .con > .top-bar > .menu-bar > ul > li {
       width:100%;
   }

   .con > .top-bar > .menu-bar > ul > li:not(:last-child) {
       border-bottom: 1px solid rgba(255,255,255,0.3);
   }
   
   .con > .top-bar > .menu-bar > ul {
       width:100%;
       margin:0 auto;
       background-color: rgba(0,0,0,0.7);
       position: fixed;
       border-top: 2px solid rgba(255,255,255, 0.3);
       border-bottom: 2px solid rgba(255,255,255, 0.3);
   }

   body {
    padding-top: 56.25px;
}

.swiper-container {
    top:0;
}

/* 컬렉션 설명 */

.con > .bg_image {
    display:none;
}

details {
    display: block;
    padding:5%;
    padding-top:7%;
}

details > summary {
    font-size: 2rem;
    font-weight: 900;
}


   /*footer*/
   footer {
       background-color: white;
       color:gray;
       padding:10px;
       display: block;
       position: relative;
       margin-top:30px;
   
   }
   
   footer > .information {
       width:100%;
   
   }
   
   footer > .information ul > li {
       font-size: 0.67rem;
       margin:2px 5px;
   }
   
   footer > .sns {
       position: absolute;
       left:0;
       right:auto;
       top:100%;
       transform: translateX(10%) translateY(-50%);
       padding:20px 0;
   }
   
   
   footer > .sns > ul > .sns_icon {
       padding:5px;
   }
   

}


