/*    Reset CSS  */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

#wrap {
    width: 2000px; height: 400px; 
    margin: 0px auto;
}




.text1 {
    display:inline-block; position:relative;
    font:80px/1 'Noto Sans KR'; color:rgb(0, 0, 0);
    overflow:hidden;
    font-weight: bolder;
}

.text2 {
    display:inline-block; position:relative;
    font:15px/1 'Noto Sans KR'; color:black;
    overflow:hidden;
    transform: translateX(245%) translateY(80%);
    opacity: 0.9;
    background-color: black;
    padding:5px;
    cursor: pointer;
}

.text3 {
    display:inline-block; position:relative;
    font:20px/1 'arial'; color:transparent;
    overflow:hidden;
}
